/*reset basico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  margin: 5px;
}

.menu-titulo {
  font-size: 49px;
}
/*---------- basico------------------- */

/* Centrado total de la aplicación */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estructura de las pantallas */
.pantalla {
  display: none;
  flex-direction: column;
  align-items: center;
}

.pantalla-activa {
  display: flex;
}

/* Alineación de la barra de juego */
.barra-juego {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

/* Botón de menú a la izquierda */
#btn-volver-dificultad {
  position: absolute;
  left: 0;
}

/* Agrupación horizontal de la info del juego */
.info-juego {
  display: flex;
  align-items: center;
  gap: 25px;
}
/* Alinea los botones de opciones en vertical */
.menu-opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Alinea las etiquetas e inputs del formulario en vertical */
.formulario-dificultad-personalizada {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tablero */
#pantalla-juego {
  background-color: rgb(221, 221, 221);
}
.barra-juego {
  background-color: rgba(144, 144, 144, 0.521);
}
#pantalla-juego button {
  height: 40px;
  width: 40px;
}

.mensaje-error {
  color: red;
}
