/*RESET*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overflow: hidden; /* evita scroll global */
}

html {
  font-size: 20px;
}

body {
  font-family: serif;
  background-color: #e0e0e0;
}

button {
  font-size: 25px;
  padding: 15px 25px;
  cursor: pointer;
}

p {
  font-size: 25px;
}

.mensaje-error {
  color: red;
}

/*   CONTENEDOR PRINCIPAL */
#juego-contenedor {
  background-color: #f5f5f5;

  width: 100%;
  max-width: 1100px;
  height: calc(100% - 80px); /* Resta el margen superior e inferior */

  margin: 40px auto;
  border-radius: 16px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

/* mobile: contenedor full screen */
@media (max-width: 700px), (max-height: 700px) {
  #juego-contenedor {
    margin: 0;
    border-radius: 0;
  }
}

/*  PANTALLAS*/
.pantalla {
  display: none;
  height: 100%;
  padding: 24px;

  flex-direction: column;
  align-items: center;
}

.pantalla-activa {
  display: flex;
}

/* TÍTULOS*/
.menu-titulo {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 48px;
  text-align: center;
}

/*MENÚS */
.menu-opciones {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}
.icono-menu {
  display: none;
}

/* FORMULARIOS*/
.formulario-dificultad-personalizada {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

/*  PANTALLA JUEGO*/
#pantalla-juego {
  padding: 0;
}

/* barra superior */
.barra-juego {
  width: 100%;
  padding: 12px;
  background-color: #bbb;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#btn-menu-desde-juego {
  position: absolute;
  left: 12px;
}

.info-juego {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* TABLERO */
#tablero {
  margin-top: 16px;

  max-width: 100%;
  max-height: calc(100vh - 160px);

  overflow: auto;
  display: inline-block;

  padding: 5%;
}

.fila-tablero {
  display: flex;
}

.celda {
  width: 60px;
  height: 50px;

  /* border: 1px solid #777; */
  background-color: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;
}

.celda:disabled {
  background-color: #ddd;
  cursor: default;
}

.icono-minas {
  display: none;
}
.imagen-caritaFeliz {
  display: none;
}

/* ------------- Formulario contacto --------------- */
.formulario-contacto {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}
/* Cada grupo (label + input + error) */
.form-grupo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.botones-formulario-contacto {
  display: flex;
  justify-content: center;
}

/*  ---------------- RESPONSIVE --------------- */

/* tablet */
@media (max-width: 900px) {
  .menu-titulo {
    font-size: 40px;
  }

  .celda {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
}

/* mobile */
@media (max-width: 700px) {
  #pantalla-juego {
    justify-content: center;
  }

  .menu-titulo {
    font-size: 32px;
  }

  .celda {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }
  #video-fondo {
    display: none;
  }
  #juego-contenedor {
    height: 100vh;
  }
  .info-juego{
    display: block;
  }
}
